.board-container {
  display: grid;
  height: 70%;
  margin: 0 auto;
  margin: 48px 0;
  position: relative;
  width: 100%;
}

.board-pad,
.reset-btn {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  font-family: "Noto Sans Vai", sans-serif;
  transition: 0.3s background-color;
}

.board-pad {
  border: 2px solid var(--light-gray);
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  padding: 0;
}

.board-pad-left {
  border-left: none;
}

.board-pad-right {
  border-right: none;
}

.board-pad-top {
  border-top: none;
}

.board-pad-bottom {
  border-bottom: none;
}

.board-pad[data-key="x"],
.player-x {
  color: var(--blue);
}

.board-pad[data-key="x"].board-pad-match {
  background-color: var(--light-blue);
}

.board-pad[data-key="o"],
.player-o {
  color: var(--turquoise);
}

.board-pad[data-key="o"].board-pad-match {
  background-color: var(--light-turquoise-2);
}

.player-draw {
  color: var(--dark-gray);
}

.score-container,
.board-actions-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.score-container {
  font-weight: 700;
  padding-bottom: 24px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.player-key {
  font-size: 32px;
  margin-bottom: 6px;
}

.player-score {
  font-size: 18px;
}

.player-key,
.reset-btn,
.turn-indicator {
  font-size: 24px;
}

.reset-btn {
  border: none;
  color: var(--dark-gray);
  text-decoration: underline;
}

.turn-indicator-container {
  color: var(--dark-gray);
  text-align: center;
}

.turn-indicator {
  border-radius: 30px;
  border: 1px solid var(--light-gray);
  display: flex;
  margin-top: 6px;
  overflow: hidden;
  width: 120px;
}

.turn-indicator span {
  font-weight: 700;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.turn-indicator .active {
  color: white;
}

.player-x-indicator.active {
  background-color: var(--blue);
}

.player-o-indicator.active {
  background-color: var(--turquoise);
}

@media (min-width: 1024px) {
  .board-container {
    max-height: 720px;
  }
}
